<h1>Here are some sprites</h1>

<p>
  <%= sprite_tag('icon_email')       %>
  <%= sprite_tag('icon_collaborate') %>
  <%= sprite_tag('icon_api')         %>
  <%= sprite_tag('icon_videos')      %>
  <%= sprite_tag('icon_bug')         %>
</p>

<p>
  <%= sprite_tag('avatar1')  %>
  <%= sprite_tag('avatar2')  %>
  <%= sprite_tag('avatar3')  %>
  <%= sprite_tag('avatar4')  %>
  <%= sprite_tag('avatar5')  %>
  <%= sprite_tag('avatar6')  %>
  <%= sprite_tag('avatar7')  %>
  <%= sprite_tag('avatar8')  %>
  <%= sprite_tag('avatar9')  %>
  <%= sprite_tag('avatar10') %>
  <%= sprite_tag('avatar11') %>
  <%= sprite_tag('avatar12') %>
  <%= sprite_tag('avatar13') %>
  <%= sprite_tag('avatar14') %>
  <%= sprite_tag('avatar15') %>
  <%= sprite_tag('avatar16') %>
  <%= sprite_tag('avatar17') %>
  <%= sprite_tag('avatar18') %>
  <%= sprite_tag('avatar19') %>
  <%= sprite_tag('avatar20') %>
</p>

<h1>And here are the raw sprite sheets</h1>

<%= image_tag('icons.png')   %>
<%= image_tag('avatars.png') %>


